# API
fastapi
uvicorn[standard]

# Configurações e validação
pydantic
pydantic-settings

# Banco vetorial
chromadb

# Vetorização TF-IDF
scikit-learn

# Operações numéricas e persistência
numpy
joblib

# lagnchain + openai
langchain-openai